services:

# storages
{% include "db/docker-compose.j2" %}
{% include "api/docker-compose.j2" %}
{% include "dashboard/docker-compose.j2" %}
{% include "adminer/docker-compose.j2" %}

volumes:
  volume_db: