  dashboard:
    image: airlance/vite-react-vue:dev
    volumes:
      - ./projects/dashboard:/app
    restart: {{ services_restart_policy }}
    environment:
      DOMAINS: dashboard.manager.localhost
      PORT: 3223
    ports:
      - 3223:3223
    depends_on:
      - api